In [1]:
from csv_processor import veri_oku
import pandas as pd

data = veri_oku("loan.csv")
df = pd.DataFrame(data)

print(df)

:

:

In [ ]:
import pandas as pd
from csv_processor import veri_oku_py


# C tarafında veriyi oku
dosya_ismi = "bank.csv"
data_char = veri_oku_py(dosya_ismi)  # C tarafından char* olarak dönen veri

# Veriyi C tarafından dönen char* veriden bir Python stringine dönüştürün

# Python stringini kullanabilirsiniz
df = pd.DataFrame(data_char)
# df = pd.DataFrame(data_char, columns=["Tek_Sutun_Veri"])
# df = df["Tek_Sutun_Veri"].str.split(",", expand=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,"""age""","""job""","""marital""","""education""","""default""","""balance""","""housing""","""loan""","""contact""","""day""","""month""","""duration""","""campaign""","""pdays""","""previous""","""poutcome""","""y"""
1,30,"""unemployed""","""married""","""primary""","""no""",1787,"""no""","""no""","""cellular""",19,"""oct""",79,1,-1,0,"""unknown""","""no"""
2,33,"""services""","""married""","""secondary""","""no""",4789,"""yes""","""yes""","""cellular""",11,"""may""",220,1,339,4,"""failure""","""no"""
3,35,"""management""","""single""","""tertiary""","""no""",1350,"""yes""","""no""","""cellular""",16,"""apr""",185,1,330,1,"""failure""","""no"""
4,30,"""management""","""married""","""tertiary""","""no""",1476,"""yes""","""yes""","""unknown""",3,"""jun""",199,4,-1,0,"""unknown""","""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4517,33,"""services""","""married""","""secondary""","""no""",-333,"""yes""","""no""","""cellular""",30,"""jul""",329,5,-1,0,"""unknown""","""no"""
4518,57,"""self-employed""","""married""","""tertiary""","""yes""",-3313,"""yes""","""yes""","""unknown""",9,"""may""",153,1,-1,0,"""unknown""","""no"""
4519,57,"""technician""","""married""","""secondary""","""no""",295,"""no""","""no""","""cellular""",19,"""aug""",151,11,-1,0,"""unknown""","""no"""
4520,28,"""blue-collar""","""married""","""secondary""","""no""",1137,"""no""","""no""","""cellular""",6,"""feb""",129,4,211,3,"""other""","""no"""
4521,44,"""entrepreneur""","""single""","""tertiary""","""no""",1136,"""yes""","""yes""","""cellular""",3,"""apr""",345,2,249,7,"""other""","""no"""

:

:

In [ ]:
import pandas as pd
from csv_processor import veri_oku_py


# C tarafında veriyi oku
dosya_ismi = "bank.csv"
data_char = veri_oku_py(dosya_ismi)  # C tarafından char* olarak dönen veri

# Veriyi C tarafından dönen char* veriden bir Python stringine dönüştürün

# Python stringini kullanabilirsiniz
df = pd.DataFrame(data_char)
# df = pd.DataFrame(data_char, columns=["Tek_Sutun_Veri"])
# df = df["Tek_Sutun_Veri"].str.split(",", expand=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,"""age""","""job""","""marital""","""education""","""default""","""balance""","""housing""","""loan""","""contact""","""day""","""month""","""duration""","""campaign""","""pdays""","""previous""","""poutcome""","""y"""
1,30,"""unemployed""","""married""","""primary""","""no""",1787,"""no""","""no""","""cellular""",19,"""oct""",79,1,-1,0,"""unknown""","""no"""
2,33,"""services""","""married""","""secondary""","""no""",4789,"""yes""","""yes""","""cellular""",11,"""may""",220,1,339,4,"""failure""","""no"""
3,35,"""management""","""single""","""tertiary""","""no""",1350,"""yes""","""no""","""cellular""",16,"""apr""",185,1,330,1,"""failure""","""no"""
4,30,"""management""","""married""","""tertiary""","""no""",1476,"""yes""","""yes""","""unknown""",3,"""jun""",199,4,-1,0,"""unknown""","""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4517,33,"""services""","""married""","""secondary""","""no""",-333,"""yes""","""no""","""cellular""",30,"""jul""",329,5,-1,0,"""unknown""","""no"""
4518,57,"""self-employed""","""married""","""tertiary""","""yes""",-3313,"""yes""","""yes""","""unknown""",9,"""may""",153,1,-1,0,"""unknown""","""no"""
4519,57,"""technician""","""married""","""secondary""","""no""",295,"""no""","""no""","""cellular""",19,"""aug""",151,11,-1,0,"""unknown""","""no"""
4520,28,"""blue-collar""","""married""","""secondary""","""no""",1137,"""no""","""no""","""cellular""",6,"""feb""",129,4,211,3,"""other""","""no"""
4521,44,"""entrepreneur""","""single""","""tertiary""","""no""",1136,"""yes""","""yes""","""cellular""",3,"""apr""",345,2,249,7,"""other""","""no"""

:

:

In [1]:
import pandas as pd
from csv_processor import veri_oku_py


# C tarafında veriyi oku
dosya_ismi = "bank-additional-full.csv"
data_char = veri_oku_py(dosya_ismi)  # C tarafından char* olarak dönen veri

# Veriyi C tarafından dönen char* veriden bir Python stringine dönüştürün

# Python stringini kullanabilirsiniz
df = pd.DataFrame(data_char)
# df = pd.DataFrame(data_char, columns=["Tek_Sutun_Veri"])
# df = df["Tek_Sutun_Veri"].str.split(",", expand=True)
df

:

:

In [1]:
import pandas as pd
from csv_processor import veri_oku_py


# C tarafında veriyi oku
dosya_ismi = "bank.csv"
data_char = veri_oku_py(dosya_ismi)  # C tarafından char* olarak dönen veri

# Veriyi C tarafından dönen char* veriden bir Python stringine dönüştürün

# Python stringini kullanabilirsiniz
df = pd.DataFrame(data_char)
# df = pd.DataFrame(data_char, columns=["Tek_Sutun_Veri"])
# df = df["Tek_Sutun_Veri"].str.split(",", expand=True)
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
dtype: object

In [1]:
import pandas as pd
from csv_processor import veri_oku_py


# C tarafında veriyi oku
dosya_ismi = "bank-additional-full.csv"
data_char = veri_oku_py(dosya_ismi)  # C tarafından char* olarak dönen veri

# Veriyi C tarafından dönen char* veriden bir Python stringine dönüştürün

# Python stringini kullanabilirsiniz
df = pd.DataFrame(data_char)
# df = pd.DataFrame(data_char, columns=["Tek_Sutun_Veri"])
# df = df["Tek_Sutun_Veri"].str.split(",", expand=True)
df

:

: